<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/7c281a22e4.js"
    crossorigin="anonymous"></script>
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/app.css">
  <title>dBay</title>
</head>

<body>

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#"><i class="fas fa-paw"></i> dBay</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarColor01" aria-controls="navbarColor01"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dogs">Browse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabledlink" href="/about">About</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if (currentUser) { %>
        <li class="nav-item">
          <p class="nav-link mb-0 disabledlink">Hello
            <%= currentUser.username %></p>
        </li>
        <li class="nav-item mr-0">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Log In</a>
        </li>
        <li class="nav-item mr-0">
          <a class="nav-link" href="/signup">Sign Up</a>
        </li>
        <% } %>
      </ul>
    </div>
  </nav>

  <!-- flash -->
  <div class="container-fluid my-2 py-0">
    <% if (error && error.length > 0) { %>
    <div class="alert alert-danger my-0" role="alert">
      <%= error %>
    </div>
    <% } else if (success && success.length > 0) { %>
    <div class="alert alert-success my-0" role="alert">
      <%= success %>
    </div>
    <% } %>
  </div>