<% include partials/header %>

<div class="jumbotron">
  <h1 class="display-3">Welcome to dBay</h1>
  <p class="lead">Find dogs to babysit!</p>
</div>

<!-- <div class="fluid-container mx-2">
  <div class="row">
    <div class="col-lg-3">
      <div class="card mb-3">
        <h3 class="card-header">Poodle</h3>
        <div class="card-body">
          <h5 class="card-title">Purple Haze</h5>
          <h6 class="card-subtitle text-muted">$50/Oz</h6>
        </div>
        <img style="height: 300px; width: 100%; display: block;" src="https://pixel.nymag.com/imgs/daily/intelligencer/2014/07/09/09-two-ounces.nocrop.w710.h2147483647.jpg" alt="Card image">
        <div class="card-body">
          <p class="card-text">Guaranteed to green you out.</p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">See More</a>
          <a href="#" class="card-link">Buy Now</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
    </div> 
    <div class="col-lg-3">
      <div class="card mb-3">
        <h3 class="card-header">Porter Collie</h3>
        <div class="card-body">
          <h5 class="card-title">RED TESLA</h5>
          <h6 class="card-subtitle text-muted">$60/Pill</h6>
        </div>
        <img style="height: 300px; width: 100%; display: block;" src="https://i.redd.it/2l9bbhs57jp01.jpg" alt="Card image">
        <div class="card-body">
          <p class="card-text">Edison has nothing on these.</p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">See More</a>
          <a href="#" class="card-link">Buy Now</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div> 
        </div>
        <div class="col-lg-3">
          <div class="card mb-3">
            <h3 class="card-header">Golden Retriever</h3>
            <div class="card-body">
              <h5 class="card-title">Blue Ice</h5>
              <h6 class="card-subtitle text-muted">$100/Hit</h6>
            </div>
            <img style="height: 300px; width: 100%; display: block;" src="https://i2.wp.com/sugarhero.com/wp-content/uploads/2012/07/crystal-meth-rock-candy-5_thumb.jpg" alt="Card image">
            <div class="card-body">
              <p class="card-text">So good its worth making a 5 season TV series for it.</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">See More</a>
              <a href="#" class="card-link">Buy Now</a>
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div> 
        </div>
        <div class="col-lg-3">
          <div class="card mb-3">
            <h3 class="card-header">Cocaine</h3>
            <div class="card-body">
              <h5 class="card-title">Freebase</h5>
              <h6 class="card-subtitle text-muted">$250/Bag</h6>
            </div>
            <img style="height: 300px; width: 100%; display: block;" src="https://image.shutterstock.com/image-photo/cocaine-plastic-packet-on-black-260nw-538786357.jpg" alt="Card image">
            <div class="card-body">
              <p class="card-text">Straight from Justin Kickback Disdat's Gucci Bumbag.</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">See More</a>
              <a href="#" class="card-link">Buy Now</a>
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div> 
        </div>
      </div>
    </div>      
     -->
<% include partials/footer %>