<% include partials/header %>
<div class="landing"></div>
<div class="container-fluid">
  <div class="jumbotron main col-md-6 text-center">
      <h1 class="display-4">Welcome to DBAY!</h1>
      <p class="lead">Feel free to explore our wide range of good boys and happy puppers!</p>
      <hr>
      <p class="lead">
        <a class="btn btn-primary" href="/dogs" role="button">Enter Site</a>
      </p>
    </div>
</div>
<% include partials/footer %>