.navbar {
  padding: 1rem 2rem;
}

i {
  width: 20px;
}

.form.container{
  max-width: 40%;
  min-width: 500px;
}

.jumbotron {
  padding: 2rem 1rem;
}

.dropdown-menu {
  min-width: 80px;
}

#form-delete {
  display: inline;
}

#not_button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}