.navbar {
  padding: 1rem 2rem;
}

i {
  width: 20px;
}

.form.container{
  max-width: 40%;
  min-width: 500px;
}

.jumbotron {
  padding: 2rem 1rem;
}

.main {
  padding-top: 10%;
  background: white;
}

.disabledlink {
  /* Make the disabled links grayish*/
  color: gray;
  /* And disable the pointer events */
  pointer-events: none;
}


.dropdown-menu {
  min-width: 80px;
}

#form-delete {
  display: inline;
}

#not_button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.gallery {
  height: 15vw; 
  width: 100%; 
  display:block; 
  object-fit: cover;
}

.landing {
  background-image: url(../images/landing.jpg);
  position: fixed; 
  top: -12%; 
  left: -10%; 
  width: 120%; 
  height: 120%;
  z-index: -1;
  object-fit: contain;
  transform: scale(0.85, 0.85);
  -ms-transform: scale(0.85, 0.85);
  -webkit-transform: scale(0.85, 0.85);
}

.card-footer {
  background: white;
}